h1 {
	color: blue;
	font-family: verdana;
	font-size: 300%;
	}
h2 {
	colors: violet;
	font-family: bodoni MT;
	font-size: 200%;
}
h3 {
	color: red;
	font-family: Aharoni
	font-size: 150%;
}
p {
	color: yellow;
	font-family: courier;
	font-size: 120% ;
}
table{
	border: 5px double black;
	border-collapse: collapse;
	font-size: 30px;
}
th, td {
	border: 1px solid black;
}